<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SZABIST_CarpoolApplication</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FrontController</display-name>
    <servlet-name>FrontController</servlet-name>
    <servlet-class>controller.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FrontController</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>controller.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/UserController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterController</display-name>
    <servlet-name>RegisterController</servlet-name>
    <servlet-class>controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterController</servlet-name>
    <url-pattern>/RegisterController</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>Filter</display-name>
    <filter-name>Filter</filter-name>
    <filter-class>filter.Filter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>Filter</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/bootstrap/*</url-pattern>
    <url-pattern>/transfers/*</url-pattern>
    <url-pattern>/registertheme/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestServlet</display-name>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>controller.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/TestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OfferRideController</display-name>
    <servlet-name>OfferRideController</servlet-name>
    <servlet-class>controller.OfferRideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OfferRideController</servlet-name>
    <url-pattern>/OfferRideController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAllRideController</display-name>
    <servlet-name>ViewAllRideController</servlet-name>
    <servlet-class>controller.ViewAllRideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAllRideController</servlet-name>
    <url-pattern>/ViewAllRideController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchRideController</display-name>
    <servlet-name>SearchRideController</servlet-name>
    <servlet-class>controller.SearchRideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchRideController</servlet-name>
    <url-pattern>/SearchRideController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RideDiscussionServlet</display-name>
    <servlet-name>RideDiscussionServlet</servlet-name>
    <servlet-class>controller.RideDiscussionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RideDiscussionServlet</servlet-name>
    <url-pattern>/RideDiscussionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidLoginController</display-name>
    <servlet-name>AndroidLoginController</servlet-name>
    <servlet-class>controller.AndroidLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidLoginController</servlet-name>
    <url-pattern>/AndroidLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidRegisterController</display-name>
    <servlet-name>AndroidRegisterController</servlet-name>
    <servlet-class>androidcontroller.AndroidRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidRegisterController</servlet-name>
    <url-pattern>/AndroidRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/LogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookRideController</display-name>
    <servlet-name>BookRideController</servlet-name>
    <servlet-class>controller.BookRideController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookRideController</servlet-name>
    <url-pattern>/BookRideController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookPassengerController</display-name>
    <servlet-name>BookPassengerController</servlet-name>
    <servlet-class>controller.BookPassengerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookPassengerController</servlet-name>
    <url-pattern>/BookPassengerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CarpoolRequestsController</display-name>
    <servlet-name>CarpoolRequestsController</servlet-name>
    <servlet-class>controller.CarpoolRequestsController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CarpoolRequestsController</servlet-name>
    <url-pattern>/CarpoolRequestsController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestsHandleController</display-name>
    <servlet-name>RequestsHandleController</servlet-name>
    <servlet-class>controller.RequestsHandleController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestsHandleController</servlet-name>
    <url-pattern>/RequestsHandleController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.prgguru.jersey</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/androidwebservices/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AndroidAvailableRides</display-name>
    <servlet-name>AndroidAvailableRides</servlet-name>
    <servlet-class>androidcontroller.AndroidAvailableRides</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AndroidAvailableRides</servlet-name>
    <url-pattern>/AndroidAvailableRides</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImageFixingController</display-name>
    <servlet-name>ImageFixingController</servlet-name>
    <servlet-class>controller.ImageFixingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageFixingController</servlet-name>
    <url-pattern>/ImageFixingController</url-pattern>
  </servlet-mapping>
</web-app>